In [1]:
import pandas as pd
import numpy as np

In [12]:
promos = pd.read_csv('/Users/djdit/OneDrive - University of South Florida/Project/Data/firstfile.csv')

In [13]:
promos.head()

,Unnamed: 0,Date,Sales_name,gmv_new,units,product_mrp,discount,product_category,product_subcategory,product_vertical
0,1,2015-07-01,No Promotion,3040.0,1,3650.0,610.0,EntertainmentSmall,HomeAudio,HomeAudioSpeaker
1,2,2015-07-01,No Promotion,310.0,1,400.0,90.0,EntertainmentSmall,Speaker,LaptopSpeaker
2,3,2015-07-01,No Promotion,1999.0,1,7999.0,6000.0,GamingHardware,GamingAccessory,GamePad
3,4,2015-07-01,No Promotion,139.0,1,700.0,561.0,EntertainmentSmall,TVVideoSmall,RemoteControl
4,5,2015-07-01,No Promotion,99.0,1,700.0,601.0,EntertainmentSmall,TVVideoSmall,RemoteControl

In [14]:
promos.shape

(1578079, 10)

In [15]:
promos.dtypes

Unnamed: 0               int64
Date                    object
Sales_name              object
gmv_new                float64
units                    int64
product_mrp            float64
discount               float64
product_category        object
product_subcategory     object
product_vertical        object
dtype: object

In [16]:
promos.Sales_name.unique()

array(['No Promotion', 'Eid & Rathayatra sale', 'Independence Sale',
       'Rakshabandhan Sale', 'Daussera sale', 'Big Diwali Sale',
       'Christmas & New Year Sale', 'Republic Day', 'BED',
       "Valentine's Day", 'FHSD', 'BSD-5', 'Pacman'], dtype=object)

In [17]:
promos.describe()

         Unnamed: 0       gmv_new         units   product_mrp      discount
count  1.578079e+06  1.578079e+06  1.578079e+06  1.578079e+06  1.578079e+06
mean   7.890400e+05  2.461679e+03  1.021809e+00  4.257890e+03  1.796212e+03
std    4.555523e+05  5.640023e+03  2.493014e-01  8.793679e+03  4.276790e+03
min    1.000000e+00  1.000000e+01  1.000000e+00  4.900000e+01  1.697040e-02
25%    3.945205e+05  3.390000e+02  1.000000e+00  8.000000e+02  3.100000e+02
50%    7.890400e+05  7.490000e+02  1.000000e+00  1.600000e+03  7.000000e+02
75%    1.183560e+06  1.998000e+03  1.000000e+00  3.499000e+03  1.549000e+03
max    1.578079e+06  2.269470e+05  5.000000e+01  4.200000e+05  4.183530e+05